header {
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

h1 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

p {
  font-family: 'PT Sans Narrow';
  color: #ffc1be;
  margin: 0;
  margin-bottom: 2%;
}

cite a { color: #ffc1be; font-size: 14px; }

#graphics-container { overflow: hidden; width: 100%; }

#dates-container {
  overflow: hidden;
  width: 50%;
  float: left;
}
#dates-container .month {
  overflow: hidden;
  float: left;
  margin: 10px;
  margin-left: 0px;
  width: 106px;
  height: auto;
}
#dates-container .month-header {
  font-family: 'PT Sans Narrow';
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  color: #fff;
}
#dates-container .month .eq-date {
  float: left;
  margin: 1px;
  height: 12px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}
#dates-container .month .eq-date.active { border: 1px solid #fff; }

#scale {
  width: auto;
  height: 20px;
  overflow: hidden;
}

.scale-item, .scale-desc {
  width: 12px;
  height: 12px;
  padding: 2px;
  float: left;
  color: rgba(255, 255, 255, 0.6)
}

.scale-desc {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  padding: 0;
  line-height: 12px;
}

#summary-stats {
  width: 25%;
  overflow: hidden;
  float: left;

  border-left: 1px solid #ffa19c;
}

.summary {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ffa19c;
  border-right: 1px solid #ffa19c;
}
.summary:last-child { border-bottom: none; }
.summary .desc { display: block; font-family: 'PT Sans Narrow'; color: #ffa19c; }
.summary .date { display: block; font-family: 'PT Sans Narrow'; color: #ffa19c; }
.summary .value { display: block; font-family: 'Montserrat'; font-size: 48px; color: #fff; }

#histogram-container { overflow: hidden; float: left; width: 25%; }
#histogram-container .desc { padding-left: 10px; display: block; font-family: 'PT Sans Narrow'; color: #ffa19c; }
#histogram { width: 100%; }

#filter { display: none; width: 100%; height: 45px; overflow: hidden; }
#filter .container { width: 50%; float: left; padding: 10px 20px; }
#filter .container:first-child { border-right: 1px solid #ccc; }
.container label { float: left; margin-right: 10px; font-family: 'PT Sans Narrow'; font-size: 16px; font-weight: normal; }
.container input[type="range"] { width: 60%; height: 24px; float: left; margin-right: 10px; }
.container ::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
  -webkit-appearance: none;
  background-color: #666;
  width: 10px;
  height: 20px;
}
.container #mag-value {
  float: left;
  width: 55px;
  margin: 0;
  padding: 4px 2px;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  border: 1px solid rgb(37, 2, 0);
  font-family: 'PT Sans Narrow';
}

.container #num-quakes { font-size: 21px; font-family: 'PT Sans Narrow'; font-weight: bold; line-height: 1.2em; color: rgb(37, 2, 0); }
.container #num-quakes .date { color: rgb(37, 2, 0); }

#map {
  width: 100%;
  height: auto;
  min-height: 520px;
}

.leaflet-popup-content-wrapper { background-color: #FF4136; }
.leaflet-popup-content { font-family: 'PT Sans Narrow'; color: #fff; }
.leaflet-popup-tip { border-top-color: #FF4136; }
.popup-mag { font-size: 21px; }

.bar rect {
  fill: #fff;
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #fff;
  font-family: 'PT Sans Narrow';
  font-size: 10px;
}