header {
  padding: 20px;
}

h1 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  color: #fff;
}

p {
  font-family: 'PT Sans Narrow';
  color: #ffc1be;
  margin: 0;
  margin-bottom: 2%;
}

cite a { display: block; color: #ffc1be; font-size: 14px; }

#dates-container {
  overflow: hidden;
  width: auto;
}
#dates-container .month {
  overflow: hidden;
  float: left;
  margin: 10px;
  margin-left: 0px;
  width: 106px;
  height: auto;
}
#dates-container .month-header {
  font-family: 'PT Sans Narrow';
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
  color: #fff;
}
#dates-container .month .eq-date {
  float: left;
  margin: 1px;
  height: 12px;
  width: 12px;
  background-color: rgba(0, 0, 0, 0.2);
}

#scale {
  width: auto;
  height: 20px;
  overflow: hidden;
}

.scale-item, .scale-desc {
  width: 12px;
  height: 12px;
  padding: 2px;
  float: left;
  color: rgba(255, 255, 255, 0.6)
}

.scale-desc {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  padding: 0;
  line-height: 12px;
}

#map { width: 100%; height: auto; min-height: 520px; }